 .filter-row {
    background-color: #dadada;
    font-size: 0.9rem;
    padding: 0.2rem;
    border: 1px solid #cecece;
 }

 .folder-name {
    font-size: 0.9rem;
 }

 .folder-type {
    font-size: 0.7rem;
 }

 .folder-row {
    border-bottom: 1px solid #dadada;
    margin-bottom: 5px;
 }

 .footer {
  display: block!important;
  width: 100%;
 }

.createfolder div {
  margin-right: 10px;
}

.createfolder div input {
  font-size: 13px;
}

.createfolder div button {
  margin-right: 5px;
}
