<div class="row">
  <div class="col-sm-1">
    <div class="btn-group btns">
      <!--add to folder-->
      <button id="openModalButton" class="btn btn-default action-menu" [disabled]="addDisabled" (click)="openModal()">
        <span class="fa fa-fw fa-folder font-12em" aria-hidden="true"></span>
        <br>
        <small class="text-uppercase font-55em">Add To</small>
      </button>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="btn-group btns">
      <button class="btn btn-default action-menu" [disabled]="editEntries" (click)="confirmEditEntries()">
        <span class="fa fa-fw fa-edit font-12em" aria-hidden="true"></span>
        <br>
        <small class="text-uppercase font-55em">Edit</small>
      </button>

      <button class="btn btn-default action-menu" disabled="disabled">
        <span class="fas fa-clipboard-check" aria-hidden="true"></span>
        <br>
        <small class="text-uppercase font-55em">Quality</small>
      </button>

      <button class="btn btn-default action-menu" [disabled]="delEntries" (click)="confirmDelEntries(content)">
        <span class="fa fa-trash font-12em" aria-hidden="true"></span>
        <br>
        <small class="text-uppercase font-55em">Delete</small>
      </button>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="btn-group btns dropdown">
      <button class="btn btn-default action-menu dropdown-toggle" disabled="disabled" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-download font-12em" aria-hidden="true"></i>
        <br>
        <small class="text-uppercase font-55em">Export <span class="caret"></span></small>
      </button>

      <ul class="dropdown-menu" uib-dropdown-menu="">
        <li><a href="#" class="font-90em">CSV Only</a></li>
        <li><a href="#" class="font-90em">CSV &amp; sequences</a></li>
        <li class="divider"></li>
        <li><a href="#" class="font-90em">Custom</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">PERSONAL</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th style="max-width:20px!important;"><input type="checkbox" [(ngModel)]="isMasterSel" name="entries_sel"
                                                           (change)="checkUncheckAll()"></th>
            <th style="max-width: 70px!important;" *ngIf="searchKeyword">RELEVANCE</th>
            <th style="max-width: 70px!important;">TYPE</th>
            <th style="max-width: 50px!important;">PART ID</th>
            <th style="max-width: 150px!important;">NAME</th>
            <th style="max-width: 50px!important;">STATUS</th>
            <th style="max-width: 70px!important;">CREATED</th>
          </tr>
        </thead>
        <tbody *ngIf="enteries?.length != 0">
          <tr *ngFor="let entery of enteries">
            <td><input type="checkbox" ([ngModel])="entery.id" name="listcheck" value="{{entery.id}}"
                       [checked]="entery.isSelected"                       
                       (change)="changeSelection(entery.id, $event)"></td>
            <td *ngIf="searchKeyword">
              <div class="progress-bar-container">
                <div class="progress-bar" [ngbTooltip]="entery.score"
                     [ngStyle]="{'width': entery.progress + '%', 'background-color': entery.color}">
                </div>
              </div>
            </td>
            <!-- type -->
            <td>{{entery.type}}</td>

            <!-- partid -->
            <td>
              <a class="partid" (click)="entry(entery.id)"
                 (mouseover)="getTooltip(entery.id)"
                 [ngbTooltip]="tooltip ? tooltipTemplate : ''" placement="right">
                {{ entery.partId }}
              </a>
            </td>

            <!-- name -->
            <td>
              {{entery.name}}
              <br /><small class="shortdesc">{{entery.shortDescription | slice:0:30}}</small>
            </td>

            <!-- status -->
            <td>{{entery.status}}</td>

            <!-- creationTime -->
            <td>{{entery.creationTime | date}}</td>
          </tr>
        </tbody>
        <tbody *ngIf="enteries?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data found!!</td>
          </tr>
        </tbody>
      </table>

      <ng-template #tooltipTemplate>
        Markers: <span *ngIf="tooltipData.selectionMarkers">{{tooltipData.selectionMarkers.toString()}}</span><br />
        Creator:  <span *ngIf="tooltipData.creator">{{tooltipData.creator}}</span><br />
        Creator Email: <span *ngIf="tooltipData.creatorEmail">{{tooltipData.creatorEmail}}</span><br />
        Bio Safety Level: <span *ngIf="tooltipData.bioSafetyLevel">{{tooltipData.bioSafetyLevel}}</span><br />
        Principle Investigator: <span *ngIf="tooltipData.principalInvestigator">{{tooltipData.principalInvestigator}}</span><br />
        Modified Date: <span *ngIf="tooltipData.modificationTime">{{tooltipData.modificationTime | date: 'medium'}}</span>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Entries Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure, you want to delete these selected Entries?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
  </div>
</ng-template>     
