.top {
  background-color: #dcddff;
  height: 60px;
}
.back-btn {
  float: left;
  vertical-align: middle;
  margin-top: 5px;
  cursor: pointer;
}

.heading {
  float: left;
  padding-left: 5px;
  font-weight: bold;
}

  .heading .main {
    font-size: 20px;
  }

  .heading .type {
    color: #a2a5ab;
  }

  .heading .sub {
    font-size: 13px;
    font-weight: normal;
  }

  .heading .dt {
    color: #5e5c69;
  }

  .heading .creator {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

.detail-form label {
  color: #7c7d94;
}
