  .detail-form label {
    color: #7c7d94;
    font-weight: 500;
  }

  .detail-form .fa {
    font-size: 12px;
    color: #7e8396;
    margin-left: 10px;
    cursor: pointer;
  }

  .form-group input {
    font-size: 12px;
    width: 200px;
  }

.form-group input, button {
  height: 30px;
  margin-left: 5px;
}
