<!-- Page Wrapper -->
<div id="wrapper">
  <app-nav *ngIf="isLoggedIn"></app-nav>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <app-header *ngIf="isLoggedIn"></app-header>
        <div class="container-fluid">
          <router-outlet></router-outlet>
          <app-my-loader></app-my-loader>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <app-footer></app-footer>
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->