<div class="container">
  <div class="row">
    <div class="col-sm-12 align-self-center">
      <div class="top">
        <div class="back-btn">
          <a (click)="gotoBack()"><img src="assets/img/icon-back.png" width="40" /></a>
        </div>
        <div class="heading">
          <div class="main"><span class="type">PROFILE {{cuser.firstName.toUpperCase()}}&nbsp;{{cuser.lastName.toUpperCase()}}</span></div>
          <div class="sub">
            <span class="dt">{{CreationDate | date:'medium'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 btn-group">
        <button #editProfileBtn class="btn btn-outline-primary btn-sm" (click)="editProfile()">Edit Profile </button>
        <button #changePasswordBtn class="btn btn-outline-primary btn-sm" (click)="changePassword()">Change Password </button>
      </div>
    </div>

    <div class="profile-blck" *ngIf="showEditProfile">
      <form name="profileForm"
            (ngSubmit)="profileForm.form.valid && onSubmit(profileForm)"
            *ngIf="!isFormSubmitted"
            #profileForm="ngForm"
            novalidate>

        <div class="form-group row">
          <div class="alert alert-danger"
               role="alert"
               *ngIf="profileForm.submitted && profileForm.form.invalid">
            Error in submitting fields.
          </div>
        </div>

        <div class="form-group row">
          <div class="alert alert-success"
               *ngIf="profileForm.submitted && profileForm.form.valid && this.createdStatus">
            Entry Created Successfully.
          </div>
        </div>
        <div class="form-group row">
          <label for="firstName" class="col-sm-3 col-form-label">First Name:
                <span class="mandatory">*</span></label>
          <div class="col-sm-4">
            <input type="text" required="required" placeholder="First Name"
                   [class.is-invalid]="firstName.invalid && firstName.touched"
                   class="form-control" name="firstName" [(ngModel)]="profileModel.firstName"
                   #firstName="ngModel" />
          </div>
          <!-- single error with a class binding -->
          <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">* First Name is required</small>
        </div>

        <div class="form-group row">
          <label for="lastName" class="col-sm-3 col-form-label">Last Name:<span class="mandatory">*</span></label>
          <div class="col-sm-4">
            <input type="text" required="required" placeholder="Last Name"
                   [class.is-invalid]="lastName.invalid && lastName.touched"
                   class="form-control" name="lastName" [(ngModel)]="profileModel.lastName"
                   #lastName="ngModel" />
          </div>
          <!-- single error with a class binding -->
          <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">* Last Name is required</small>
        </div>

        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Institution:</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Institution" class="form-control"
                   name="lastname" [(ngModel)]="profileModel.institution" #institution="ngModel" />
          </div>
        </div>

        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Benchling ID:</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Benchling ID" class="form-control"
                   name="benchlingId" [(ngModel)]="profileModel.benchlingId" #benchlingId="ngModel" />
          </div>
        </div>

        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">About:</label>
          <div class="col-sm-4">
            <textarea placeholder="About" class="form-control" name="description"
                      rows="3" [(ngModel)]="profileModel.description"
                      #description="ngModel"></textarea>            
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="pass-blck" *ngIf="showChangePassword">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
